<?php
define( 'DB_NAME', '{{ wordpress_db_name }}' );
define( 'DB_USER', '{{ wordpress_db_user }}' );
define( 'DB_PASSWORD', '{{ wordpress_db_password }}' );
define( 'DB_HOST', '{{ wordpress_db_host }}:{{ wordpress_db_port }}' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

define( 'AUTH_KEY',         'salt' );
define( 'SECURE_AUTH_KEY',  'salt' );
define( 'LOGGED_IN_KEY',    'salt' );
define( 'NONCE_KEY',        'salt' );
define( 'AUTH_SALT',        'salt' );
define( 'SECURE_AUTH_SALT', 'salt' );
define( 'LOGGED_IN_SALT',   'salt' );
define( 'NONCE_SALT',       'salt' );

$table_prefix = 'wp_';

define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
  define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';

